<Configuration strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">
    <Appenders>
        <Appender type="Console" name="STDOUT">
        </Appender>
        <Appender type="File" name="File" fileName="Logs.log">
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>